    h1 { 
        font-family: Arial, Helvetica, sans-serif;
        color: aqua;
        background-color: rgb(202, 202, 55);
        text-align: justify;
        font-size: 50px;
        line-height: normal;
        margin: 0px;

    }
    p {
        color:blue;
        
        text-align: justify;
        line-height: normal;
    }
    li {
        display:  inline-block;
        width: 200px
    }
    .same-size {
            width: 200px;      /* chiều rộng */
            height: 200px;     /* chiều cao */
            object-fit:cover; /* cắt ảnh cho vừa khung mà không méo */
            border-radius: 5px; /* tuỳ chọn: bo góc */
    }
    body {
    margin: 0;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
   
    padding: 0;
}
    footer{
        background-color: chocolate;
    }
    nav{
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        background-color: aqua;
    }
    
    header{
        width: 100%;
        background-color: antiquewhite;
        border: solid;
        padding: 30px 0px;  

        
    }
    main{
        background-color:  rgb(224, 125, 219)        
    }
    
    div img{
        border: solid 3px;
        padding: 5px;
        background: coral;
        border-radius: 20px;
        

    }
    img:hover{
        transition: border 2s, padding 2s, background 2s, border-radius 1s;
        border: solid 5px;
        padding: 5px;
        background: red;
        border-radius: 50%;
        

    }
   
    div{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        justify-content: left;
    
    }
    .skipcontent{
            position: absolute;
            left: 12px;
            top: 8px;
            transform: translateY(-150%);
    }    
    .skipcontent:focus{
        transform: translateY(0);
        outline: 3px solid ;
    }
    #main_content:focus{
        outline: none;
    }
   
.gallery { display: grid; grid-template-columns: 250px 250px 250px; gap: 16px; }
.gallery > img:nth-child(odd){
  background: red;
  padding: 5px;           
  border-radius: 30px;
}
